<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wycliffe A. Onyango Portfolio</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <nav id="navbar">
        <a href="#welcome-section">Welcome</a>
        <a href="#projects">Projects</a>
        <a id="profile-link" href="https://github.com/WycliffeAlphus" target="_blank">GitHub</a>
    </nav>

    <section id="welcome-section">
        <div id="welcome">
            <h1>Hello, I am Wycliffe</h1>
        </div>
        <div id="job">
            <h1>a full-stack developer</h1>
        </div>
    </section>

    <section id="projects">
        <h1>Projects</h1>
        <div class="project-tile">
            <h2>IOT-Device-Security-Protocol</h2>
            <p id="description">
                This project is at an early stage of development, focusing on building a secure and efficient 
                communication protocol for IoT devices using Go. My initial work centers on understanding and 
                setting up TCP/IP servers and clients, laying the groundwork for more complex networking and security tasks.
                I am currently experimenting with basic client-server communication models in Go, exploring concurrency with goroutines 
                to handle multiple client connections, and studying the MQTT protocol to prepare for future phases.
                As I progress, I aim to incorporate core security practices, including authentication, authorization, and encryption (TLS),
                into the project. Each new milestone will be a step towards creating a prototype communication protocol that addresses
                both performance and security requirements in an IoT context.

                <strong>Key Technologies:</strong>
                <ul>
                    <li>Go for networking and concurrent programming with goroutines</li>
                    <li>MQTT Protocol (planned) for structured publish/subscribe communication</li>
                    <li>TLS Encryption (planned) for secure data transfer</li>
                    <li>Wireshark (planned) for network traffic analysis to verify encryption and integrity</li>
                </ul>

                <strong>Current Progress and Goals:</strong>
                This project is just beginning, with an initial focus on TCP/IP communication fundamentals.
                Over time, I will incorporate security layers and real-time testing for a robust IoT device communication framework. 
                Through each stage, I'm working toward gaining practical, hands-on experience in IoT security and network programming with Go.
            </p>
            <a href="https://github.com/WycliffeAlphus/IOT-Device-Security-Protocol" target="_blank">View Project</a>
        </div>
    </section>
</body>
</html>
